<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunwx.springboot.mapper.StudentMapper" >
    <resultMap id="BaseResultMap" type="com.sunwx.springboot.bean.Student" >
        <result column="studentId" property="studentId" jdbcType="INTEGER" />
        <result column="studentName" property="studentName" jdbcType="VARCHAR" />
        <result column="studentSex" property="studentSex" jdbcType="VARCHAR" />
        <result column="studentNum" property="studentNum" jdbcType="VARCHAR" />
        <result column="studentCode" property="studentCode" jdbcType="VARCHAR" />
        <result column="studentPass" property="studentPass" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectStu" resultMap="BaseResultMap">
        select * from student where student_code = #{studentCode} and student_pass = #{studentPass}
    </select>

</mapper>