<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>vue练习</title>
</head>
<body>
<!--引入vue包-->
<script src="js/vue.min.js"></script>
<!--定义操作区域-->
<div id="music">
    <audio id="audio" src="./music/平凡之路.mp3" controls></audio>
    <input type="button" value="播放" v-on:click="bofang()">
    <input type="button" value="暂停" v-on:click="zanting()">
</div>
<script>
    new Vue ({
        el: "#music",
        data: {

        },
        methods: {
            bofang:function () {
                var audio = window.document.getElementById("audio");
                audio.play();
            },
            zanting:function () {
                var audio = window.document.getElementById("audio");
                audio.pause();
            }
        }
    })
</script>
</body>
</html>